accelerate==0.19.0
brotlipy==0.7.0
deepcut==0.7.0.0
evaluate==0.4.0
install==1.3.5
jiwer==3.0.1
librosa==0.10.0.post2
optuna==3.2.0
pip==23.0.1
pythainlp==4.0.2
seaborn==0.12.2
symspellpy==6.7.7
tdqm==0.0.1
transformers==4.29.2
-f https://download.pytorch.org/whl/cu117
torch==2.0.0+cu117
torchvision==0.15.1+cu117
torchaudio==2.0.1
